table{
		width: 600px;
		margin: 0 auto;
		border-collapse: collapse;
	}
	table tr{
		border: 2px solid gray;
	}
	tr th {
		background: #a3a3a3;
		color: blue;
	}
	h1{
		text-align: center;
	}
	